.html{
  scroll-behavior: smooth;
}
.nav{
    overflow: hidden;
    background-color:  rgb(255, 157, 250);
}
.nav a{
    float: right;
    display: block;
    font-size: 30px;
    padding: 25px 25px;
    font-family: Lucida Calligraphy;
}
.nav ul{
    float: left;
    font-size: 30px;
    padding: 25px 25px;
}
.nav a:hover {
    background-color:rgb(201, 167, 233); ;
  }
  
.nav .icon {
    display: none;
  }
  .cont{
   background-color:rgb(201, 167, 233);
  }
  .special{
      text-align: right;
      position: relative;top:-480px; left: -340px;
      font-size: 50px;
      font-family: Monotype Corsiva;
      animation: spc 4s linear -3s 1 reverse;
      
    
  }
  .specia{
    text-align: right;
    position: relative;top:-480px; left: -355px;
    font-size: 30px;
    animation: spc1 3s linear -3s 2 normal;
}
.butt{
  position: absolute;
right: 450px;
top: 500px;
}
.button{
  padding: 15px 32px;
margin: 4px 2px;
font-size: 20px;
border-radius:8px;
background-color: rgb(208, 138, 223);
}
.sndiv{
  font-size: 70px;
  text-align: center;
  background-color: rgb(247, 188, 244);
}
  .flip-box {
    perspective: 1000px;}/*
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
     }/* Remove this if you don't want the 3D effect */
  
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 80%;
    height: 80%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    color: black;
  }
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }
  .column {
    float: left;
    width: 25%;
    padding: 45px;
    table-layout: fixed; 
  }
  .footer{
    background-color: rgb(201, 167, 233);
    text-align: center;
    font-size: 25px;
    font-family: Kristen ITC;
    display: flex;
  }
  ul {
    list-style: none;
    float: left;
    margin: 0;
    font-size: 25px;
    padding: 30px,40px;
    position: relative;left: 100px;
}

li {
    float: left;
    width: 70px;
    vertical-align: 0%;
    margin: 0;
}
.email{
  width:500px; height: 50px;
  font-size: 15px;
  display: flex;
  position: relative;left:780px;top:-50px;
}
.btn{
  margin-top:-100px;
  margin-right: -1120px;
  width:100px; height: 50px;
  text-align: center;
}

  @keyframes spc{
    from{
      background-color:left:-300px; top:-250px;
    }
    to{background-color:left:40px;top:80px;}
  }
  @keyframes spc1{
    from{
      background-color:left:700px; top:-650px;
    }
    to{background-color:left:40px;top:80px;}
  }
  
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sndiv.column{
    width: 10%;
    padding: 5px;
  }
}

  